*{
    background-color: rgb(248, 202, 209);
}

.form-control{
    background-color: white;
}

a {
    font-size: 1.3em;
}

img {
    width: 200px;
    height: 150px;
    margin-top: 20px;
}

.texto1 {
    font-size: 1.5em;
    color: blueviolet;
}

#texto2 {
    font-size: 1.5em;
    color: crimson;
}
